#####################################################################################
# Frontend & Backend
# See: https://vitejs.dev/guide/env-and-mode.html for details about VITE_ variables.

# Domain used for signature generation/verification, and SvelteKit.
VITE_DOMAIN=192.168.1.45:5173                # Should be the same as sveltekit's frontend "ORIGIN".
VITE_TERMS_OF_AGREEMENT_PATH=Legal/Terms

# WalletConnect protocol relay/bridge server (v1)
VITE_WALLET_CONNECT_BRIDGE_SERVER='https://r.bridge.walletconnect.org'

#####################################################################################
# Backend-only
SERVER_ETH_RPC='http://127.0.0.1:8545'

# Optional Redis connection string, otherwise defaults are used.
# Redis is used for delivery address/checkout persistance and pre-order steps.
# REDIS_CONNECTION_STRING=https://myServer:6379

# Service Provider Authorization Variables
# (For projects with signature-based join requirements)
AUTHORIZER_PRIVATE_KEY=0x0000
AUTHORIZER_SIGNATURE_EXPIRATION_TIME_IN_SECONDS=1800

#####################################################################################
# Frontend-only

# Where Sveltekit application is hosted
# https://kit.svelte.dev/docs/adapter-node#environment-variables-origin-protocol-header-and-host-header
#ORIGIN=http://localhost        # https://my.site.example

#HOST=0.0.0.0                   # Where app is served
#PORT=3000                      # Where app is served

# ETH RPC connection
# LOCALHOST
VITE_WALLET_CONNECT_RPC='http://localhost:8545'
VITE_WALLET_CONNECT_CHAIN_ID='31337'
