.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/src/out
src/route/Data/projects.json
src/routes/Legal/Imprint/+page.svelte
src/routes/Legal/PrivacyPolicy/+page.svelte
src/routes/Legal/Terms/+page.svelte
