#####################################################################################
# Order creation service
#####################################################################################

# Execution interval
# Task wait time between executions
INTERVAL_IN_MS=3000

#####################################################################################

# Redis connection
# Note: The redis connection string should remain unchanged/unspecified here, when used 
#       with the provided docker compose file (as it is meant to be within the same docker network).
# REDIS_CONNECTION_STRING=myServer.com:6379

#####################################################################################

# Wordpress/WooCommerce API
WORDPRESS_SERVER=https://shop.example.com
WORDPRESS_API_CONSUMER_KEY=ck_...
WORDPRESS_API_CONSUMER_SECRET=cs_...
# Note: The credentials/keys above can be created in WooCommerce > Settings > Advanced > REST API.
#       Make sure the key has READ and WRITE permission.

#####################################################################################

# Product configuration
# If not already present, create the products in WooCommerce's interface (or via API).
# Then, define above the respective product ids which were used in the Crowdtainer Campaign.
# IMPORTANT: The id order MUST be the same as specified in the campaign's smart contract during deployment,
#            otherwise prices, descriptions, etc, will be incorrect.
# Variation IDs with value "0" means no variation is used. Otherwise, insert the variation for the respective item.
#
# Example: Product 1 without variation; Product 2 variation 1, Product 2 variation 2:
# WOOCOMMERCE_PRODUCT_IDS=1,2,2
# WOOCOMMERCE_VARIATION_IDS=0,1,2
WOOCOMMERCE_PRODUCT_IDS=0,0,0,0
WOOCOMMERCE_VARIATION_IDS=0,0,0,0

#####################################################################################

# Payment configuration
WOOCOMMERCE_PAYMENT_METHOD='bacs'
WOOCOMMERCE_PAYMENT_METHOD_TITLE='Direct Bank Transfer'
# Defines if the order should automatically be set to paid once created
WOOCOMMERCE_SET_PAID=true

# Optionally define a 'Coupon code', which must be exactly the respective Crowdtainer's 
# project referral rate / 2. Leave empty string for projects with no referral system enabled.
WOOCOMMERCE_COUPON_CODE=''
#####################################################################################