#####################################################################################
# Order creation service
#####################################################################################

INTERVAL_IN_MS=3000
# Task wait time between executions

# REDIS_CONNECTION_STRING=myServer.com:6379
# Note: The redis connection string should remain unchanged/unspecified here, when used 
#       with the provided docker compose file (as it is meant to be within the same docker network).

WORDPRESS_SERVER=https://shop.example.com
WORDPRESS_API_CONSUMER_KEY=ck_...
WORDPRESS_API_CONSUMER_SECRET=cs_...
# Note: The credentials/keys above can be created in WooCommerce > Settings > Advanced > REST API.
#       Make sure the key has READ and WRITE permission.

WOOCOMMERCE_PRODUCT_IDS=12,25,64,23
# If not already present, create the products in WooCommerce's interface (or via API).
# Then, define above the respective product ids which were used in the Crowdtainer Campaign.
# IMPORTANT: The id order MUST be the same as specified in the campaign's smart contract during deployment,
#            otherwise prices, descriptions, etc, will be incorrect.

WOOCOMMERCE_PAYMENT_METHOD='bacs'
WOOCOMMERCE_PAYMENT_METHOD_TITLE='Direct Bank Transfer'

WOOCOMMERCE_SET_PAID=true
# Defines if the order should automatically be set to paid once created

